*,
html {
    margin: 0;
    padding: 0;
}

.container-navbar {
    background-color: #333;
    width: 100%;
    height: 15vh;
}

.ul-navbar {
    display: flex;
    border: none;
    background-color: none; 
    justify-content: center;
    align-items:center;
}

.li-navbar {
    list-style-type: none;
    padding: 20px;
    margin: 5px;  
    color: white;
    font-size: 30px;
} 

.li-navbar:hover {
    background-color: black;
    transition: .2s ease-in-out;
    border-radius: 8px;
}

.a-navbar {
    color:white;
    text-decoration: none ;
    font-weight: 800;
}

.container-content {
    background-color: #f7f7f7;
    display:flex;
    justify-content:center;
    align-items: center;
    height: 85vh;
} 

.a-content {
    background-color: white;
    color:black;
    text-decoration: none;
    font-size: 30px;
    width: 450px;
    height: 450px;
    display: flex; 
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    border-radius: 80px;
    box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
}

.img-content {
    width:50%;
    height:50%;
}

.p-about {
    font-size: 200px;
}

.footer-about {
    list-style-type: none;
    text-decoration:none;
}